fastapi
uvicorn
pydantic
gradio
requests
openai
python-dotenv
langchain-community
duckduckgo-search
langchain-text-splitters
langchain-unstructured
unstructured
numpy
faiss-cpu
sentence-transformers
psycopg
pgvector
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
